{% extends "base.html" %}
{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://sun9-51.userapi.com/impg/Dw1psOF4LdwOGy1RS_E8r9TIzd9P7ckpo6HD4A/h8cGbc_YHvA.jpg?size=1600x1200&quality=96&sign=a5b5257f95339efb1a973e73c5cd5d48&type=album" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-76.userapi.com/impg/ZrhK1yWjRhKY8JM2UtSb4kvLVTuMReYY8narWw/qTnX_n1q0EQ.jpg?size=1200x1600&quality=96&sign=12900cb41013a77986bf7531c676ed12&type=album" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-31.userapi.com/impg/Rfl2Y86kOmbqJSykKGEczroXZNvbcN6OhKqQEA/qkCf6fn0wJc.jpg?size=1600x1280&quality=96&sign=b2b66354b058af55d0ff487b03beff50&type=album" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-20.userapi.com/impg/_PDbS2VSlNDGSQMH7pzDTVhYRkrKOPXiaLqc3w/f0alKpOhCpA.jpg?size=720x1280&quality=96&sign=ab3f401943d2bff96a80dd86cf92786b&type=album" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-51.userapi.com/impg/Dw1psOF4LdwOGy1RS_E8r9TIzd9P7ckpo6HD4A/h8cGbc_YHvA.jpg?size=1600x1200&quality=96&sign=a5b5257f95339efb1a973e73c5cd5d48&type=album" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-18.userapi.com/impg/c6EGUzZBMvaGGIcnNeh0O3_BU48C9b7ymSVePg/F82oC2l3y20.jpg?size=1600x1200&quality=96&sign=a1078b584ba2be3ce038041073a3c30a&type=album" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-23.userapi.com/impg/FTi_u38MYWNZ-ILQbQ9l0gezQTudzA-Lf3o0Zw/j2X7g8gZ_bQ.jpg?size=1600x1200&quality=96&sign=e216c25fa91ff114d8c9fa6bf1b54cdf&type=album" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-41.userapi.com/impg/aVNcDBI8BHnc9-CxYfdbeKQwhaQoe2iu2E37SQ/s_AFzwsW11Y.jpg?size=1280x1600&quality=96&sign=be2e0f6a66048081b2ed6acc2d24727c&type=album" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://sun9-74.userapi.com/impg/tjCkO3pAAXGkjcCcbkDuwh2ECQOC8Optpe5uNA/996MX1DPqfk.jpg?size=800x1600&quality=96&sign=2fafa9e088edd1cab75468f966c33e33&type=album" alt="Third slide">
    </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
{% endblock %}