{% extends "base.html" %}

{% block content %}

<center><h1 style="font-size: 350%">Об игре</h1></center>
<br>
<h3>Для того что бы начать играть в эту замечательную игру,
    вам нужно <a class="btn btn-primary " href="/register">Зарегистрироваться</a>.</h3>
<br>
<p style="font-size: 150%">Игра называется <b>Square Clicker</b>, так как в этой игре требуется кликать по квадратным кнопкам.</p>
<br>
<br>
<p style="font-size: 150%">
    Не подумайте, что это обычный глупый кликер, у игры есть цель, стратегия и возможность проиграть.
</p>
<br>
<br>
<h2>Что же касается квадратов? Их в игре 5 видов.</h2>
<h3>Серый квадрат</h3><p style="font-size: 150%"> - Серый квадрат. Появляются по 3 штуки каждый "ход"ю Когда не останется других квадратов, серые квадраты случайно заменяются на Зеленый, Синий или Красный квадрат.</p><br>
<h3>Красный квадрат</h3><p style="font-size: 150%"> - Красный квадрат. При клике на него у игрока теряются комбо, уменьшается здоровье и появляется шанс проиграть. Появляется из Серого квадрата или при начале игры. </p><br>
<h3>Зеленый квадрат</h3><p style="font-size: 150%"> - Зеленый квадрат. При клике на него набирается +1 комбо, увеличиваются очки. Здоровье не меняется. Появляется после серого квадрата.</p><br>
<h3>Синий квадрат</h3><p style="font-size: 150%"> - Синий квадрат. При клике на него набирается +1 комбо, дается много очков, и прибавляется здоровье. Это самый лучший квадрат.</p><br>
<h3>Оранжевый квадрат</h3><p style="font-size: 150%"> - Оранжевый квадрат. Работает почти как зелёный, но на него необходимо нажать три раза.</p><br>
<br>
<br>
<h2>Как работает система счета в Square Clicker?</h2><p style="font-size: 150%">Каждое безошибочное нажатие по квадрату дает +1 комбо. Счет растет экспоненциально, то есть за первый клик может увеличить счет на 1, но к концу игры прибавлятся будет уже тысячами. Формула для расчета выглядит так: <b>self.game.score += self.game.combo ** 0.8 * 5</b>. Поэтому лучше совершать как можно меньше ошибок и играть аккуратнее.</p>
<br>
<br>
<h2>Как работает здоровье в Square Clicker?</h2><p style="font-size: 150%">Здоровье - основная характеристика игры. Чем меньше у игрока здоровья, тем легче становится проиграть. Здоровье уменьшается постоянно во время игры. Также при клике на красный квадрат у игрока отнимается треть здоровья. При нажатии в пустоту, мимо квадратов, также отнимается чуть чуть здоровья. Восстановить здоровье можно просто играя, но главный способ -  нажать на синий квадрат.</p>

{% endblock %}